**/ProjectSettings/*
**/.vs/*
**/obj/*
**/bin/*
*.user
ProjectBattleArena/Library/*
ProjectBattleArena/Temp/*
ProjectBattleArena/Logs/*
**/PublishProfiles/*
**/KosherLog.config
**/logs/*
**/archive/*
**/config.json
**/InterServerConfig.json
**/UserData.json