ProjectBattleArena/ProjectSettings/*
ProjectBattleArena/.vs/*
ProjectBattleArena/obj/*
ProjectBattleArena/bin/*
ProjectBattleArena/Library/*
ProjectBattleArena/Temp/*
Server/GameWebServer/.vs/*
Server/GameWebServer/bin/*
Server/GameWebServer/obj/*
Server/GameWebServer/GameWebServer.csproj.user
Server/Protocol.GameWebServerAndClient/bin/*
Server/Protocol.GameWebServerAndClient/obj/*
Server/BA.Repository/bin/*
Server/BA.Repository/obj/*
Server/BA.Models/obj/*
Server/BA.Models/bin/*
ProjectBattleArena/Logs/*
ProjectBattleArena/userData.json
Server/InterServer/.vs/*
Server/InterServer/obj/*
Server/InterServer/bin/*
ProjectBattleArena/UserData.json
Server/ShareLogic/obj/*
Server/ShareLogic/bin/*
Server/ShareLogic/.vs/*
Server/Protocol.InterAndGWS/obj/*
Server/Protocol.InterAndGWS/bin/*
Server/InterServer/Properties/PublishProfiles/*
Bin/InterServer/KosherLog.config
Server/InterServer/BA.InterServer.csproj.user
Bin/InterServer/logs/*
Bin/InterServer/archive/*
Server/Config/KosherLog.config
Server/Config/config.json
Server/Config/InterServerConfig.json
Bin/InterServer/InterServerConfig.json
Server/ShareLogic/ShareLogic.csproj.user
Bin/GameWebServer/archive/*
Bin/GameWebServer/config.json
Bin/GameWebServer/KosherLog.config
Share/DataContainer/obj/*
Share/ShareLogic/obj/*
Share/ShareLogic/bin/*
Share/ShareLogic/.vs/*
Share/.vs/*
Share/DataContainer/bin/*
Share/DataContainer/DataContainer.csproj.user
Server/GameWebServer/Properties/PublishProfiles/*
Bin/GameWebServer/logs/*
Server/BA.GameServer/GameServer/.vs/*
Server/BA.GameServer/GameServer/bin/*
Server/BA.GameServer/GameServer/obj/*
Server/BA.GameServer/.vs/*
